<% provide(:title, "Administrator Main Menu") %>
<div class="row">
  <aside class="span4">
    <section>
     <%= render "shared/administrator_side_menu" %>  
    </section>
  </aside>
<div class="span8"> 
<h2>Administrator Main Menu</h2>
<ol>
<li><%= link_to "Users/Employees" , employees_path %></li>
<li><%= link_to "Company Structure" , employee_types_path %></li>
<li><%= link_to "Event Log" , "#" %></li>
<li><%= link_to "Sign Out" , signout_path , method: "delete" %></li>
</ol>
</div>
</div>