<h2>Employee main menu</h2>
<ol>
<li><%= link_to "Inventory" , items_path %></li>
<li><%= link_to "Devices" , "#" %></li>
<li><%= link_to "Agents" , "#" %></li>
<li><%= link_to "Locations" , "#" %></li>
<li><%= link_to "Routes" , "#" %></li>
</ol>