<tr>
	<td><%= onhand_quantity.item.name %></td>
	<td><%= onhand_quantity.item.description %></td>
	<td><%= onhand_quantity.item.retail_price %></td>
	<td><%= onhand_quantity.onhand_quantity %></td>
	<td><%= link_to "Sell", edit_onhand_quantity_path(onhand_quantity) %></td>
</tr>