<<<<<<< HEAD

=======
<% provide(:title, "Assign Route") %>
<div class="row">
  <aside class="span4">
    <section>
     <%= render "shared/administrator_side_menu" %>  
    </section>
  </aside>
<div class="span8"> 
<div class="span8">	
>>>>>>> corrections
<h2>Assign <%= @route.name %> to an agent </h2>
<%= form_for(@dsa_route) do |f| %>
<%= render partial: 'shared/error_messages' , :locals => { :object => @dsa_route }%>
<%= render partial: "dsa_route_fields" , :locals => {:f => f } %>
<%= submit_tag "Assign route" , class: "btn btn-large btn-primary" %>
<<<<<<< HEAD
<% end %>
=======
<% end %>

</div>
</div>
</div>
>>>>>>> corrections
