<% provide(:title,"Edit agent type") %>
<div class="row">
  <aside class="span4">
    <section>
     <%= render "shared/employee_side_menu" %>  
    </section>
  </aside>
<div class="span8"> 
<h2>Edit agent type</h2>
<p><%= link_to "All Agent Types" , agent_types_path %></p>
<%= form_for(@agent_type) do |f| %>
      <%= render partial: 'shared/error_messages' , :locals => { :object => @agent_type }%>
      <%= render partial: "agent_type_fields" , :locals => {:f => f } %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>
