<% provide(:title,"All agent types") %>
<div class="row">
  <aside class="span4">
    <section>
     <%= render "shared/employee_side_menu" %>  
    </section>
  </aside>
<div class="span8"> 
<p><%= link_to "Add agent type" , new_agent_type_path %></p>
<h2>Agent types </h2>
<%= will_paginate %>
<ol class="user">
	<%= render @agent_types  %>
</ol>
<%= will_paginate %>
</div>
</div>
</div>