<div class="navbar navbar-inner header-menu">
    <div class="container">
      
        <nav>
        <ul class="nav">
          <li><%= link_to "Home", console_path , id: "home" %></li>
          <li><%= link_to "Users/Employees", employees_path , id: "employees" %></li>
          <li><%= link_to "Company Structure", "#" , id: "company_structure"%></li>
          <li><%= link_to "Event Log", "#" , id: "event_log" %></li>          
          <li><%= link_to "Sign Out", "#" , id: "log_out" %></li>    
        </ul>
      </nav>
    </div>
</div>