<div class="navbar navbar-inner header-menu">
    <div class="container">
      
        <nav>
        <ul class="nav">
          <li><%= link_to "Home", administrator_index_path , id: "home" %></li>
          <li><%= link_to "Users/Employees", employees_path , id: "employees" %></li>
          <li><%= link_to "Company Structure", employee_types_path , id: "company_structure"%></li>
          <li><%= link_to "Event Log", "#" , id: "event_log" %></li>          
          <li><%= link_to "Sign Out", signout_path ,method: "delete" , id:"log_out" %></li>    
        </ul>
      </nav>
    </div>
</div>