<tr>
	<td><%= link_to "#{outlet.name}", onhand_quantities_path(outlet: outlet.id) %></td>
	<td><%= outlet.route.name %></td>
	<td><%= outlet.contact_name %></td>
	<td><%= number_to_phone(outlet.contact_phone,:groupings => [4, 3, 3], :delimiter => " ") %></td>
	<td><%= link_to "Edit", edit_outlet_path(outlet) %></td>
	<td><%= link_to "Delete", outlet_path(outlet), method: :delete, data: { confirm: "Are you sure you want to delete #{outlet.name}?"} %></td>
</tr>