<h2>Company Structure (Tree view) </h2>
<p><b><%= ceo.name  %></b> |  <%= link_to "+Add a subordinate" , new_employee_type_path( id: ceo.id ) %></p>
<div class='caret subordinates'></div>
<ul class="top_level_subordinate">
<% for subordinate in ceo.subordinates  %>
<li><b><%= subordinate.name %></b><span class="reports_to">  -  Reports to the <%= subordinate.reports_to_type.name %>  |  <%= link_to "+Add" , new_employee_type_path( id: subordinate.id ) %> | <%= link_to "Delete"  , 
employee_type_path(employee_type) , method: :delete , data: {confirm: "Are you sure you want to delete #{employee_type.name}"} %></span>
<%= render partial: "subordinates" , :locals => { :subordinate => subordinate , :levels => @type_level_count }  %>
</li>
<% end %>
</ul>