<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :category %>
<%= f.text_field :category %>

<%= f.label :reports_to_type_id %>
<%= f.collection_select(:reports_to_type_id , EmployeeType.all, :id , :name , :prompt => "Please select an employee type") %>
<p><%= link_to "Add Employee Type" , new_employee_type_path %></p>