<% provide(:title,"Add route") %>
<div class="row">
  <aside class="span4">
    <section>
     <%= render "shared/employee_side_menu" %>  
    </section>
  </aside>
<div class="span8"> 
<p><%= link_to "All routes" , routes_path %></p>
<h2>Add route</h2>
    <%= form_for(@route) do |f| %>
      <%= render partial: 'shared/error_messages' , :locals => { :object => @route }%>
      <%= render partial: "route_fields" , :locals => {:f => f } %>
      <%= f.submit "Add route", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>
