<%= f.label :brand %>
<%= f.text_field :brand %>

<%= f.label :serial %>
<%= f.text_field :serial %>

<%= f.label :battery_serial %>
<%= f.text_field :battery_serial %>

<%= f.label :msisdn , "SIM card number" %>
<%= f.text_field :msisdn %>

<%= f.label :agent_id ,"Agent assigned handset"%>
<%= f.collection_select(:agent_id , Agent.all, :id , :name , :prompt => "Please select an agent") %>
<p><%= link_to "Add an agent" , new_agent_path  %></p>

<%= f.hidden_field :employee_id , value: current_employee.id %>

