<% provide(:title,"Add location ") %>
<div class="row">
  <aside class="span4">
    <section>
     <%= render "shared/employee_side_menu" %>  
    </section>
  </aside>
<div class="span8"> 
	<p><%= link_to "All locations" , locations_path %></p>
<h2>Create new location</h2>
    <%= form_for(@location) do |f| %>
      <%= render partial: 'shared/error_messages' , :locals => { :object => @location }%>
      <%= render partial: "location_fields" , :locals => {:f => f , first_location: @first_location } %>
      <%= f.submit "Create new location", class: "btn btn-large btn-primary" , disable_with: "Please wait..."%>
<% end %>
</div>
</div>