<body>
	<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to "Aimsell Sales Force Automation", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", contactus_path %></li>
          <%  if signed_in? %>
          <li><%= link_to "Main Menu", administrator_index_path %></li>
          <li><%= link_to "Sign Out", signout_path ,method: "delete" %></li>
          <%  elsif employee_signed_in? %>
              <li><%= link_to "#{current_employee.full_name}", "#" %></li>
              <li><%= link_to "Sign Out", employee_signout_path , method: "delete" %></li>
          <% elsif agent_signed_in? %>
              <li><%= link_to "#{current_agent.name}", '#' %></li>
              <li><%= link_to "Sign Out", agent_signout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Administrator Sign In", administrator_signin_path %></li>
          <li><%= link_to "Employee Sign In", signin_path %></li>
          <li><%= link_to "Agent Sign In",  agent_signin_path %></li>
          <%  end  %>
        </ul>
      </nav>

    </div>
  </div>
<% if signed_in? %>
<%= render "shared/administrator_menu" %>
<% elsif employee_signed_in? %>
<%= render "shared/employee_menu" %>
<% elsif agent_signed_in? %>
<%= render "shared/agent_menu" %>
<% end %>
</header>

