<body>
	<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to "Aimsell Sales Force Automation", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", contactus_path %></li>
        </ul>
      </nav>

    </div>
  </div>
<div class="navbar-inner header-menu">
    <div class="container">
      <!--
        <nav>
        <ul class="nav">
          <li><%= link_to "Home", "#" , id: "home" %></li>
          <li><%= link_to "Users/Employees", "#" , id: "employees" %></li>
          <li><%= link_to "Company Structure", "#" , id: "company_structure"%></li>
          <li><%= link_to "Event Log", "#" , id: "event_log" %></li>          
          <li><%= link_to "Log Out", "#" , id: "log_out" %></li>    
        </ul>
      </nav>

    -->
    </div>
</div>
</header>
